* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

img{
    width: 35px;
}

.header-fixed{
    height: 40px;
}
#header{
    background: white;
    position: fixed;
    padding: 5px 10px 5px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
#header1{
    margin-right: 10px;
}
#header2{
    margin-right: 120px;
}
#header3{
    margin-right: 120px;
}
#header4{
    margin-right: 120px;
}
#header5{
    margin-right: 180px;
}
#header6{
    margin-right: 50px;
}
#header7{
    margin-right: 50px;
}
#header8{
    margin-right: 50px;
}
#header9{
    margin-right: 50px;
}
.header-center{
    vertical-align: middle;
}

#input{
    border-radius: 1000px;
    padding: 5px;
    margin-right: 260px;
}
#left-bar{
    position: fixed;
    top : 40px;
    right: 550px;
    height: 10000px;
}

#main{
    height: 10000px;
}

#right-bar{
    position: fixed;
    top: 40px;
    left: 550px;
    height: 10000px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.main-thuan{
    display: flex;
    justify-content: center;
}